
.row {
  text-align: center;
}

h1 {
  font-family: 'Henny Penny', cursive;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 75px;
  color: white;
  text-emphasis: bold;
}

h2, h3 {
  font-family: 'Henny Penny', cursive;
  text-align: center;
  margin-top: 0px;
  font-size: 25px;
  color: goldenrod;
  text-emphasis: bold;
}

/* button styling */

#replay {
  font-family: 'Henny Penny', cursive;
  display: flex;
  background-color: goldenrod;
  border: rgb(165, 5, 5) solid;
  border-radius: 5px;
  border-style: bold;
  border-width: 5px;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

#replay:hover {
  color: goldenrod;
  background-color: rgb(165, 5, 5);
  border: white;
  border-radius: 5px;
  border-style: bold;
  border-width: 5px;
}

body {
  background-image: url("../images/hp/space-stars-wallpaper-preview.jpg");
  background-color: #cccccc;
}



